---
interface Props {
  title: string;
  preloadImage?: string;
}

import "../global.css";
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import LeftLinks from "../components/LeftLinks.astro";
import MobileStickyMenu from "../components/MobileStickyMenu.astro";

const { title, preloadImage } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {preloadImage && <link rel="preload" href={preloadImage} as="image" />}
  </head>
  <body class="overflow-x-hidden">
    <Header />
    <Nav />
    <MobileStickyMenu />
    <!-- Left Links -->
    <div class="hidden lg:block absolute top-1/2 right-0 z-50">
      <LeftLinks />
    </div>
    <main class="overflow-x-hidden">
      <slot />
    </main>
    <div class={`h-40 relative hidden md:flex justify-center pt-10 ${Astro.url.pathname === '/' ? 'bg-[#e4e6f2]' : ''}`}>
      <div class={`mx-auto z-10 grid grid-cols-2 text-white w-2/3 2xl:w-2/5 ${Astro.url.pathname === '/' ? 'bg-[#e4e6f2]' : ''}`}>
        <div class="bg-custom-pink p-10 flex flex-col justify-center items-start ">
          <h1 class="text-xl font-bold mb-4">Clinic 27</h1>
          <p class="text-md mb-2">
            (02) 8059 7743
          </p>
          <p class="text-md">
            Suite 1, Level 1, 44 Bridge Street, Sydney NSW 2000
          </p>
        </div>
        <div class="bg-custom-purple p-10 flex flex-col justify-center items-start ">
          <h1 class="text-xl font-bold mb-4">Complete Chiropractic</h1>
          <p class="text-md mb-2">
            (02) 9972 0040
          </p>
          <p class="text-md">
            Suite 1/32 Fisher Rd, Dee Why NSW 2099
          </p>
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html> 