---
// src/layouts/Layout.astro
export interface Props {
  title: string;
  description?: string;
}

const { title, description = "Clinic 27 is a chiropractic clinic with experienced chiropractors in Sydney CBD dedicated to the provision of chiropractic care." } = Astro.props;
---
<!DOCTYPE html>
<html class="html" lang="en-US">
  <head>
    <meta charset="UTF-8">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{title}</title>
    <meta name="description" content={description} />
    
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <style type="text/css" is:inline>
        @font-face {
         font-family: 'Poppins';
         font-style: italic;
         font-weight: 100;
         font-display: swap;
         src: url(https://fonts.gstatic.com/s/poppins/v23/pxiAyp8kv8JHgFVrJJLmE0tCMPc.ttf) format('truetype');
        }
        @font-face {
         font-family: 'Poppins';
         font-style: italic;
         font-weight: 200;
         font-display: swap;
         src: url(https://fonts.gstatic.com/s/poppins/v23/pxiDyp8kv8JHgFVrJJLmv1pVF9eL.ttf) format('truetype');
        }
        @font-face {
         font-family: 'Poppins';
         font-style: italic;
         font-weight: 300;
         font-display: swap;
         src: url(https://fonts.gstatic.com/s/poppins/v23/pxiDyp8kv8JHgFVrJJLm21lVF9eL.ttf) format('truetype');
        }
        @font-face {
         font-family: 'Poppins';
         font-style: italic;
         font-weight: 400;
         font-display: swap;
         src: url(https://fonts.gstatic.com/s/poppins/v23/pxiGyp8kv8JHgFVrJJLucHtF.ttf) format('truetype');
        }
        @font-face {
         font-family: 'Poppins';
         font-style: italic;
         font-weight: 500;
         font-display: swap;
         src: url(https://fonts.gstatic.com/s/poppins/v23/pxiDyp8kv8JHgFVrJJLmg1hVF9eL.ttf) format('truetype');
        }
        @font-face {
         font-family: 'Poppins';
         font-style: italic;
         font-weight: 600;
         font-display: swap;
         src: url(https://fonts.gstatic.com/s/poppins/v23/pxiDyp8kv8JHgFVrJJLmr19VF9eL.ttf) format('truetype');
        }
        @font-face {
         font-family: 'Poppins';
         font-style: italic;
         font-weight: 700;
         font-display: swap;
         src: url(https://fonts.gstatic.com/s/poppins/v23/pxiDyp8kv8JHgFVrJJLmy15VF9eL.ttf) format('truetype');
        }
        @font-face {
         font-family: 'Poppins';
         font-style: italic;
         font-weight: 800;
         font-display: swap;
         src: url(https://fonts.gstatic.com/s/poppins/v23/pxiDyp8kv8JHgFVrJJLm111VF9eL.ttf) format('truetype');
        }
        @font-face {
         font-family: 'Poppins';
         font-style: italic;
         font-weight: 900;
         font-display: swap;
         src: url(https://fonts.gstatic.com/s/poppins/v23/pxiDyp8kv8JHgFVrJJLm81xVF9eL.ttf) format('truetype');
        }
        @font-face {
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 100;
         font-display: swap;
         src: url(https://fonts.gstatic.com/s/poppins/v23/pxiGyp8kv8JHgFVrLPTucHtF.ttf) format('truetype');
        }
        @font-face {
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 200;
         font-display: swap;
         src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLFj_Z1xlEA.ttf) format('truetype');
        }
        @font-face {
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 300;
         font-display: swap;
         src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLDz8Z1xlEA.ttf) format('truetype');
        }
        @font-face {
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 400;
         font-display: swap;
         src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
        }
        @font-face {
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 500;
         font-display: swap;
         src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z1xlEA.ttf) format('truetype');
        }
        @font-face {
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 600;
         font-display: swap;
         src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLEj6Z1xlEA.ttf) format('truetype');
        }
        @font-face {
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 700;
         font-display: swap;
         src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLCz7Z1xlEA.ttf) format('truetype');
        }
        @font-face {
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 800;
         font-display: swap;
         src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLDD4Z1xlEA.ttf) format('truetype');
        }
        @font-face {
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 900;
         font-display: swap;
         src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLBT5Z1xlEA.ttf) format('truetype');
        }
    </style>

    <link rel="canonical" href="https://sydneychiropractorcbd.com.au/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Chiropractor Sydney CBD | Chiropractic Clinic Sydney" />
    <meta property="og:description" content="Clinic 27 is a chiropractic clinic with experienced chiropractors in Sydney CBD dedicated to the provision of chiropractic care." />
    <meta property="og:url" content="https://sydneychiropractorcbd.com.au/" />
    <meta property="og:site_name" content="Sydney Chiropractor CBD - Clinic 27" />
    <meta property="article:modified_time" content="2025-05-15T10:41:44+00:00" />
    <meta property="og:image" content="https://sydneychiropractorcbd.com.au/wp-content/uploads/2021/06/team_high.jpg" />
    <meta property="og:image:width" content="1920" />
    <meta property="og:image:height" content="963" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta name="twitter:card" content="summary_large_image" />

    <link rel='stylesheet' id='oceanwp-style-css' href='/wp-content/themes/oceanwp/assets/css/style.min.css' media='all' />
    <link rel='stylesheet' id='popup-maker-site-css' href='/wp-content/uploads/pum/pum-site-styles.css' media='all' />
    <link rel='stylesheet' id='elementor-icons-css' href='/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css' media='all' />
    <link rel='stylesheet' id='elementor-post-5-css' href='/wp-content/uploads/elementor/css/post-5.css' media='all' />
    <link rel='stylesheet' id='elementor-post-26-css' href='/wp-content/uploads/elementor/css/post-26.css' media='all' />
    <link rel='stylesheet' id='elementor-post-1997-css' href='/wp-content/uploads/elementor/css/post-1997.css' media='all' />
    <link rel='stylesheet' id='elementor-post-2104-css' href='/wp-content/uploads/elementor/css/post-2104.css' media='all' />
    <link rel='stylesheet' id='elementor-post-3924-css' href='/wp-content/uploads/elementor/css/post-3924.css' media='all' />
    <link rel='stylesheet' id='ekit-widget-styles-css' href='/wp-content/plugins/elementskit-lite/widgets/init/assets/css/ekit-widget-styles.min.css' media='all' />
    <link rel='stylesheet' id='ekit-responsive-css' href='/wp-content/plugins/elementskit-lite/widgets/init/assets/css/ekit-responsive.min.css' media='all' />
    <link rel='stylesheet' id='oe-widgets-style-css' href='/wp-content/plugins/ocean-extra/assets/css/oe-widgets-style.min.css' media='all' />
    <link rel='stylesheet' id='elementor-icons-shared-0-css' href='/wp-content/plugins/elementor/assets/lib/font-awesome/css/fontawesome.min.css' media='all' />
    <link rel='stylesheet' id='elementor-icons-fa-solid-css' href='/wp-content/plugins/elementor/assets/lib/font-awesome/css/solid.min.css' media='all' />
    <link rel='stylesheet' id='elementor-icons-fa-brands-css' href='/wp-content/plugins/elementor/assets/lib/font-awesome/css/brands.min.css' media='all' />
    <link rel='stylesheet' id='elementor-icons-fa-regular-css' href='/wp-content/plugins/elementor/assets/lib/font-awesome/css/regular.min.css' media='all' />
    <link rel='stylesheet' id='elementor-icons-ekiticons-css' href='/wp-content/plugins/elementskit-lite/modules/elementskit-icon-pack/assets/css/elementor-icons-ekiticons.min.css' media='all' />
    <link rel='stylesheet' id='1223-css' href='/wp-content/uploads/custom-css-js/1223.css?v=6189.css' media='all' />
    <link rel='stylesheet' id='44-css' href='/wp-content/uploads/custom-css-js/44.css?v=4802.css' media='all' />


    <link rel="icon" href="/wp-content/uploads/2021/03/cropped-Blue-Logo-Clinic-27-min-32x32.png" sizes="32x32" />
    <link rel="icon" href="/wp-content/uploads/2021/03/cropped-Blue-Logo-Clinic-27-min-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="/wp-content/uploads/2021/03/cropped-Blue-Logo-Clinic-27-min-180x180.png" />
    <meta name="msapplication-TileImage" content="/wp-content/uploads/2021/03/cropped-Blue-Logo-Clinic-27-min-270x270.png" />

    <script is:inline>
        (function(w,d,s,l,i){
            w[l]=w[l]||[];
            w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
            var f=d.getElementsByTagName(s)[0];
            var j=d.createElement(s);
            var dl=l!='dataLayer'?'&l='+l:'';
            j.async=true;
            j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
            if (f && f.parentNode) {
                f.parentNode.insertBefore(j,f);
            }
        })(window,document,'script','dataLayer','GTM-WZLQ9N7');
    </script>

</head>
<body class="home wp-singular page-template-default page page-id-26 wp-custom-logo wp-embed-responsive wp-theme-oceanwp wp-child-theme-Clinic27-Child oceanwp-theme dropdown-mobile no-header-border default-breakpoint content-full-screen has-topbar page-header-disabled elementor-default elementor-kit-5 elementor-page elementor-page-26" itemscope="itemscope" itemtype="https://schema.org/WebPage">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZLQ9N7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div id="outer-wrap" class="site clr">
        <a class="skip-link screen-reader-text" href="#main">Skip to content</a>
        <div id="wrap" class="clr">
            <slot />
        </div>
    </div>
  </body>
</html> 