---
import HomeTreatmentCard from "./HomeTreatmentCard.astro";
import backPain from "/public/treatments/circles/backpain.png";
import carpalTunnel from "/public/treatments/circles/carpal.png";
import neckPain from "/public/treatments/circles/neck-pain.webp";
import vertigo from "/public/treatments/circles/vertigo.webp";
import endoNasal from "/public/treatments/circles/enp.png";
import posture from "/public/treatments/circles/posture.png";
import pregnancy from "/public/treatments/circles/preg.webp";
import scoliosis from "/public/treatments/circles/scoli.webp";
import sciatica from "/public/treatments/circles/scia.webp";
import massage from "/public/treatments/circles/mass.webp";

const treatments = [
  {
    title: "Back Pain Treatment In The CBD",
    description: [
      "Back pain is a common malady the world over. In Australia, it is estimated that around 4 million or 1 in every 6 people in the country had or still experiences back pain. This is why back pain treatment remains one of the most in-demand therapies at Clinic 27, and one where we have extensive expertise.",
      "There are various factors that can cause back pain, including a sedentary lifestyle, accidents or injuries, strained muscles, stress and other lifestyle-related reasons.",
      "Whatever the cause of your back pain, our team at Clinic 27 will apply the latest chiropractic treatment methods to ensure you find the relief you need."
    ],
    image: backPain.src
  },
  {
    title: "Carpal Tunnel Syndrome Treatment & Diagnosis In The CBD",
    description: [
      "The age of technology has brought many conveniences with it, including the Internet and digital devices. However, the convenience of technology comes at a great price as spending hours clicking away on your computer or holding a mobile phone, tapping and swiping can all wreak havoc on your hands and arms.",
      "One of the most common ill effects of our digital activities is carpal tunnel syndrome (CTS).This condition manifests itself in the form of a numbing and tingling sensation in your hand and arm. With CTS, you also feel like you’re losing your ability to grip objects like pencils or coffee cup handles. And while surgery is a treatment option, it also comes with risks.",
      "We offer a safer, gentle, non-invasive method of treating CTS effectively at Clinic 27. We treat CTS right at the source so you can experience immediate and long-lasting pain relief."
    ],
    image: carpalTunnel.src
  },
  {
    title: "Neck Pain Treatment In The CBD",
    description: [
      "Similar to back pain, neck pain is a very common problem among Australians and people the world over.",
      "There are several causes of neck pain, although it usually arises from muscle strain due to poor posture, especially in relation to the use of electronic devices like mobile phones and computers.",
      "Other common causes of neck pain include poor sleeping posture, neck trauma or injury, performing tasks that force you to crane your neck, stress and anxiety. It can also be caused by cervical spondylosis (neck arthritis), a slipped disc and whiplash. Neck pain can resolve itself or linger for long, depending on the cause.",
      "Whatever may be the root cause of your neck pain, our team of chiropractors at Clinic 27 can provide effective neck pain treatment after a careful and thorough assessment of your condition."
    ],
    image: neckPain.src
  },
  {
    title: "Vertigo Treatment In The CBD",
    description: [
      "Our treatments focus on relieving pressure on the sciatic nerve and reducing inflammation to alleviate your pain and discomfort.",
      "Vertigo is not dangerous on its own, but it can disrupt everyday life and prevent you from performing simple tasks. It is also sometimes accompanied by nausea and vomiting – things you wouldn’t want to experience any day. The thing with vertigo is that there are several factors that could cause it, so treating this condition is somewhat tricky.",
      "At Clinic 27, you will undergo a thorough assessment and consultation before we proceed with any type of vertigo treatment.",
    ],
    image: vertigo.src
  },
  {
    title: "EndoNasal Cranial Correction™ Treatment In The CBD",
    description: [
      "EndoNasal Cranial Correction™ (ECC™) is a proven beneficial treatment for people suffering from headaches, neck pain, jaw pain (TMJ), and chronic sinus or nasal congestion. It also provides relief to people who have difficulty breathing.",
      "While ECC™ is a well-known effective method for helping bring the body back into proper alignment, it should only be applied by experienced chiropractors.",
      "With treatment using ECC™ at Clinic 27, you’ll experience an immense improvement if you experience any of the above conditions. Even your posture and the symmetry of your face and head can benefit from this treatment.",
    ],
    image: endoNasal.src
  },
  {
    title: "Posture Correction Treatment In The CBD",
    description: [
      "Postural problems are quite common, with the causes being as varied as genetics, muscle weakness or injury, technology use, sedentary lifestyles, stress and so on.",
      "With the help of chiropractors at Clinic 27, we can make some spinal adjustments to treat postural problems and even improve your posture. After the treatment, you may also experience improvements in terms of your flexibility and mobility and a reduction in the tightness of back muscles and surrounding soft tissues.",
    ],
    image: posture.src
  },
  {
    title: "Pregnancy Chiropractic Treatment In The CBD",
    description: [
      "As the foetus grows with advancing pregnancy, expectant mums usually experience aches and pains in their lower back and hips.",
      "Our expert chiropractors at Clinic 27 can help address your aches and pains with pregnancy chiropractic treatment. With the appropriate therapy, you can get spinal care and help for any misaligned joints during your pregnancy in a safe, non-invasive manner that does not involve medicati",
    ],
    image: pregnancy.src
  },
  {
    title: "Headache & Migraine Treatment",
    description: [
      "Another common condition afflicting a lot of people is headaches and migraine attacks. In fact, as many as 20 percent of Australians experience migraine during their lifetime",
      "There are different factors that could cause headaches and migraine, including stress,genetics, hormonal imbalance and so on.",
      "At Clinic 27, our team of chiropractic professionals can provide gentle and non-invasive headache and migraine treatment to manage and relieve pain."
    ],
    image: massage.src
  },
  {
    title: "Sciatica Treatment In The CBD",
    description: [
      "Sciatica is a health condition known to cause pain in the back and legs. The pain sciatica causes can become unbearable and debilitating when the pain moves along the sciatic nerve path.",
      "Obesity, a sedentary lifestyle and ageing are some of the most common causes of sciatica pain, as these can all put extra pressure on the spine. Meanwhile, diabetes can also increase the risk of sciatic nerve damage, usually manifesting as progressive numbness, weakness or tingling in the feet and lower legs.",
      "However, there are cases where sciatica can improve on its own over time. But if what you want is immediate relief from sciatica pain, we offer a safe and effective non-surgical treatment option for sciatica here at Clinic 27.",
    ],
    image: sciatica.src
  },
  {
    title: "Scoliosis Treatment In The CBD",
    description: [
      "The condition known as scoliosis involves the abnormal sideways curvature of the spine. Depending on the severity of the condition, scoliosis usually requires surgery to correct.",
      "However, even milder cases of scoliosis can be extremely painful as it affects the body’s anatomy. The more pronounced the spinal curvature, the more difficult it would be to breathe as the condition can affect lung capacity.",
      "If you suffer from this condition, you can benefit from chiropractic scoliosis treatment by our team of chiropractic health experts at Clinic 27."
    ],
    image: scoliosis.src
  },
  {
    title: "Sydney Massage In The CBD With Roberto",
    description: [
      "Are you feeling tense or stressed out after spending way too many hours hunched over your desk at your Sydney CBD office? Then boy-oh-boy have we got some good news for you! Because Clinic 27 now offers both deep tissue Remedial Massage, and oh-so-relaxing Swedish Massage, with Roberto, our expert masseur! With extensive training and AMT qualifications behind him, Roberto will work out all the kinks in your body and leave you feeling so relaxed and refreshed, you’ll think you’ve just come back from a holiday at a luxury resort! ",
      "So, if you’re looking to de-stress, book a massage in the Sydney CBD with Roberto, today. Your body will thank you for it!",
    ],
    image: massage.src
  },
];
---
<div class="w-full py-10" style="background-image: url('https://sydneychiropractorcbd.com.au/wp-content/uploads/2022/01/Highcompressed_1179204770.png'); background-size: cover; background-position: center;">
    <div class="mx-auto container px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl md:text-4xl font-bold text-center mb-4" style="color:#333b55">Chiropractor Sydney CBD - Clinic 27</h1>
        <p class="text-md text-left md:text-center">
            Our team of qualified and highly experienced chiropractors at Clinic 27 provide professional individualised care to clients who want to improve their health and experience total wellbeing.
        </p>
        <br/>
        <p class="text-md text-left md:text-center">
            Clinic 27 is only one of the few Australian chiropractic clinics that use the Advanced Biostructural Correction™ (ABC™) technique designed to reverse the ill effects of how the body naturally compensates for physical trauma and old injuries, resolving pain and discomfort efficiently.
        </p>
        <br/>
        <p class="text-md text-left md:text-center mb-20">
            So if you are afflicted with problems involving back and neck pain, carpal tunnel syndrome, poor posture, tightness in jaw, vertigo, sciatica, pain in jaw and temples, scoliosis, ear pain, pregnancy pain or in the endocranial area, we can assess your condition. We will then recommend and implement the appropriate mode of treatment so you can go back to living a pain-free, healthy life.
        </p>
        
        {treatments.map((treatment, index) => (
            <HomeTreatmentCard 
                title={treatment.title} 
                description={treatment.description} 
                image={treatment.image} 
                index={index}
            />
        ))}
        <h1 class="text-3xl md:text-4xl font-bold text-center mt-10 mb-8" style="color:#333b55">Book Your Treatment At Clinic 27 In Sydney’s CBD Today!</h1>

        <p class="text-md text-left md:text-center">
            Whatever type of pain you may be experiencing right now, know that it’s not something you need to live with every day. <br/>
            You may schedule an appointment with Clinic 27 by using our online booking form. <br/>
            Alternatively, you can call us on 02 9972 0040 or 02 8059 7743.
        </p>

    </div>
</div>