---
import { Image, getImage } from "astro:assets";
import heroOverlay from "../../assets/hero-overlay.webp";
import heroBg from "../../assets/hero-bg.webp";
import heroBgPhone from "../../assets/hero-bg-phone.webp";
import PrimaryButton from "../PrimaryButton.astro";

const phoneImage = await getImage({src: heroBgPhone, format: 'webp'});
---

<div class="relative flex flex-col justify-center items-center" style="min-height:90vh;">
    <picture class="absolute inset-0 w-full h-full -z-10">
        <source media="(max-width: 768px)" srcset={phoneImage.src} />
        <Image src={heroBg} alt="Hero Background" class="w-full h-full object-cover" loading="eager" />
    </picture>
    <Image src={heroOverlay} alt="Hero Overlay" class="w-full h-full object-cover absolute bottom-0 right-0 hidden md:block" loading="eager" />
    
    <!-- Hero Text Overlay - Only visible on large screens -->
    <div class="absolute -top-1/4 left-1/12 inset-0 w-full h-full hidden lg:flex flex-col justify-center items-start px-8 xl:px-16 z-10">
        <div class="text-left text-white font-bold leading-tight">
            <div class="text-xl xl:text-2xl">SYDNEY CBD</div>
            <div class="text-xl xl:text-2xl">CHIROPRACTORS</div>
            <div class="text-4xl xl:text-4xl mb-4">CLINIC 27</div>
        </div>
        <PrimaryButton variant="secondary" href="/book-appointment">
            BOOK APPOINTMENT
        </PrimaryButton>
    </div>
    <!-- Book now -->
    <Image src="/treatments/circles/scia.webp" alt="Book now" loading="eager" width={300} height={300} class="absolute -bottom-10 left-2/4 hidden lg:flex rounded-full" />
    <Image src="/treatments/circles/scia.webp" alt="Book now" loading="eager" width={300} height={300} class="absolute bottom-0 left-1/4 hidden lg:flex rounded-full" />
    <Image src="/treatments/circles/scia.webp" alt="Book now" loading="eager" width={300} height={300} class="absolute -bottom-12 left-3/4 hidden lg:flex rounded-full" />
</div>