---
import UnderlinedHeader from "../UnderlinedHeader.astro";
import Image from "astro/components/Image.astro";
import posture from "../../../public/posture-correction.webp";
import postureWoman from "../../../public/posture-woman.webp";
---
<div class="min-h-screen pt-20 bg-white relative">
    <h1 class="text-center text-5xl font-bold">Posture <span class="text-custom-pink">Correction</span></h1>
    <div class="mt-6 sm:mt-8 md:mt-10"></div>   
    <h1 class="text-center text-4xl font-bold w-1/2 mx-auto">Let us help you achieve optimal health, happiness and your full human potential</h1>
    <div class="mt-6 sm:mt-8 md:mt-10"></div>   
    <div  class="min-h-[700px] w-full bg-cover bg-no-repeat flex flex-col justify-end items-start relative px-20 pb-12" style={`background-image: url('${postureWoman.src}');z-index: 100;`}>
        <div class="w-1/2 relative z-10">
            <UnderlinedHeader left={true} white={true}>Sydney Chiropractic Workshops</UnderlinedHeader>
            <div class="mt-6 sm:mt-8 md:mt-10"></div>   
            <i class="text-white text-xl">Better Results, Faster!</i>
            <div class="mt-6 sm:mt-8 md:mt-10"></div>   
            <p class="text-white text-xl">Our free workshops are held every week for you and your friends and family. Their sole purpose is to get you feeling better, faster.</p>            <div class="mt-6 sm:mt-8 md:mt-10"></div>   
            <i class="text-white text-xl">Longer Appointments Now Available!</i>
            <div class="mt-6 sm:mt-8 md:mt-10"></div>   
            <p class="text-white text-xl">Patients now have the option to book longer consultations in addition to standard ones.</p>
        </div>
    </div>
    <Image src={posture} alt="Posture Correction" class="object-cover absolute bottom-0 right-0 w-1/2 z-0" loading="lazy" />
</div>