---
import { Image, getImage } from "astro:assets";
import heroOverlay from "../../assets/hero-overlay.webp";
import heroBg from "../../assets/hero-bg.webp";
import heroBgPhone from "../../assets/hero-bg-phone.webp";

const phoneImage = await getImage({src: heroBgPhone, format: 'webp'});
---

<div class="relative flex flex-col justify-center items-center" style="min-height:90vh;">
    <picture class="absolute inset-0 w-full h-full -z-10">
        <source media="(max-width: 768px)" srcset={phoneImage.src} />
        <Image src={heroBg} alt="Hero Background" class="w-full h-full object-cover" loading="eager" />
    </picture>
    <Image src={heroOverlay} alt="Hero Overlay" class="w-full h-full object-cover absolute bottom-0 right-0" loading="eager" />
</div>