---
import { Image } from "astro:assets";
import heroOverlay from "../../assets/hero-overlay.webp";
import heroBg from "../../assets/hero-bg.webp";
---

<div
  class="relative flex min-h-[90vh] flex-col items-center justify-center overflow-hidden"
>
  <Image
    src={heroBg}
    alt="Comfortable chiropractic treatment room"
    class="absolute left-0 top-0 -z-10 h-full w-full object-cover"
    loading="eager"
    quality={"max"}
  />
  <Image
    src={heroOverlay}
    alt="Decorative overlay"
    class="absolute bottom-0 right-0 h-full w-full object-cover"
    loading="eager"
    aria-hidden="true"
  />
  <!-- <div class="flex flex-row justify-start items-center w-1/2">
        <h1 class="text-center text-5xl font-bold">Posture <span class="text-custom-pink">Correction</span></h1>
        <div class="mt-6 sm:mt-8 md:mt-10"></div>   
        <h1 class="text-center text-4xl font-bold w-1/2 mx-auto">Let us help you achieve optimal health, happiness and your full human potential</h1>
        <div class="mt-6 sm:mt-8 md:mt-10"></div>   
    </div> -->
</div>