---
import UnderlinedHeader from "../UnderlinedHeader.astro";
import PrimaryButton from "../PrimaryButton.astro";
---

<div class="w-full py-10" style="min-height: 40vh; background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('https://sydneychiropractorcbd.com.au/wp-content/uploads/2021/06/straightforward-book1.jpg'); background-size: cover; background-position: center;">
    <div class="w-1/2 mx-auto flex flex-col items-center justify-center h-full">
        <h1>Straight Forward Book</h1>
        <UnderlinedHeader>
            Why forward posture affects your health & how to fix it
        </UnderlinedHeader>
        <PrimaryButton>
            Book Now
        </PrimaryButton>
    </div>
</div>