---
import HomeTreatmentCard from "./HomeTreatmentCard.astro";
import google from "/public/treatments/circles/map.png"
import city from "/public/treatments/circles/city.webp"
import women from "/public/treatments/circles/women.webp"
import rob from "/public/treatments/circles/rv.png.webp"

const treatments = [
  {
    title: "How To Find The Best Sydney Chiropractor ‘Near Me’ On Google",
    description: [
      "Family, friends, and workmates can often recommend a chiropractor they have used before. Which is always handy when searching for a chiro near you. But if you’re not lucky enough to know someone who can suggest a chiropractor to you, the next best thing is to do a quick search on Google, and judge them based on their chiropractic industry training, their years in the industry, their online review profile, and their position in Google. Because these things, more than anything else, will help you make an informed decision prior to booking in for your initial chiropractic consultation.",
    ],
    image: google.src
  },
  {
    title: "When Should I See A Chiropractor Near Me In The Sydney CBD?",
    description: [
      "If you are wondering, “when should I see a chiropractor near me in the Sydney CBD,” there are a few things you should know. Generally, people tend to see a chiropractor when they are experiencing chronic back pain. However, you can also see a chiropractor if you are experiencing numbness, muscle aches, digestive problems, lack of energy, tennis elbow, golfer’s elbow, sciatica, nerve pain, fibromyalgia, headaches and fatigue (to name just a few symptoms chiropractic treatments may be able to help treat)."
    ],
    image: city.src
  },
  {
    title: "How Often Should You See A Chiropractor?",
    description: [
      "There are those who think you should only see a chiropractor when you start experiencing chronic back pain, etc. And while this is true, there are many people who benefit from preventative chiropractic treatments, such as performed by the experienced chiropractic team at Clinic 27.",
      "Whether you’ve searched for a ‘chiropractor near me’ and attend our clinic in the Sydney CBD once, or over multiple visits, will naturally depend on your personal symptoms and underlying medical condition, as there is no ‘one size fits all’ approach to pain management."
    ],
    image: women.src
  },
  {
    title: "Sydney Massage Therapist",
    description: [
      "Are you feeling tense or stressed out after spending way too many hours hunched over your desk at your Sydney CBD office? Then boy-oh-boy have we got some good news for you! Because Clinic 27 now offers both deep tissue Remedial Massage, and oh-so-relaxing Swedish Massage, with Roberto, our expert masseur! With extensive training and AMT qualifications behind him, Roberto will work out all the kinks in your body and leave you feeling so relaxed and refreshed, you’ll think you’ve just come back from a holiday at a luxury resort!",
      "So, if you’re looking to de-stress, book a massage in the Sydney CBD with Roberto, today. Your body will thank you for it!"
    ],
    image: rob.src
  }
];
---
<div class="w-full py-10" style="background-color: #e4e6f2;">
    <div class="mx-auto container">
        <h1 class="text-4xl font-bold text-center mb-4 text-custom-dark">Chiropractor Sydney CBD - Clinic 27</h1>
        <p class="text-md text-center">
          Not every chiropractor can offer effective treatments that suit an individual patient’s requirements. And not every chiropractor is situated near where you live or work (especially when you need a chiropractor in the Sydney CBD!). Fortunately, Clinic 27, with 30+ years’ chiropractic experience behind them, are situated smack-bang in the middle of the Sydney CBD, just minutes from where you live or work!
        </p>
        
        {treatments.map((treatment, index) => (
            <HomeTreatmentCard 
                title={treatment.title} 
                description={treatment.description} 
                image={treatment.image} 
                index={index}
            />
        ))}
        <h1 class="text-4xl font-bold text-center mb-4 text-custom-dark">Clinic 27 - A Sydney CBD Chiropractor You Can Trust</h1>
        <p class="text-md text-left">
          If you have been trying to find a “chiropractor near me in the Sydney CBD,” chances are you’re working or living in the CBD. In which case Clinic 27 is just around the corner
        </p>
        <br/>
        <p class="text-md text-left">
          Clinic 27 provide an exceptional level of chiropractic care from friendly, trained professionals. And whereas many chiros just dump you on a table and crack you in record time, just so they can move onto the next patient, Hooman and the team at Clinic 27 make a point of taking time to diagnose the root cause of the problem, and to listen to their patients. And it’s this more holistic approach to wellness that ultimately gets the best results. And at Clinic 27 you’ll never feel rushed, never feel like ‘just another patient’. Because old fashioned patient-centric care is the at the heart of what we do.
        </p>
        <br/>
        <p class="text-md text-left">
          Call Clinic 27 today on: (02) 8059 7743 to book your next chiropractic visit goloskarpat
        </p>

    </div>
</div>
