---
import Layout from "../layouts/Layout.astro";
import HeaderImage from "../components/HeaderImage.astro";
import UnderlinedHeader from "../components/UnderlinedHeader.astro";
import TextInput from "../components/TextInput.astro";
import TextArea from "../components/TextArea.astro";
import overlay from "../../public/bg-overlay.webp";
import PrimaryButton from "../components/PrimaryButton.astro";
import contactBg from "../../public/Contact-us.webp";
import BlogGrid from "../components/BlogGrid.astro";
---
<Layout title="Blog Overview | Sydney Chiropractor CBD">
    <HeaderImage backgroundImage={contactBg.src} headerText="Blog Overview" buttonText="Book an Appointment" />
    <!-- Two Column Grid Layout -->
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-16">
      <UnderlinedHeader>Our Blogs</UnderlinedHeader>
      <BlogGrid />
    </div>
</Layout>