---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Personal Plan | Sydney Chiropractor CBD">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8 sm:py-12 md:py-16">
        <!-- Personal Plan content will be added here -->
    </div>
</Layout> 