---
import Layout from "../layouts/Layout.astro";
import videos from "../../public/videos.webp";
---
<Layout title="Sydney Chiropractor CBD Videos">
    <section 
        class="h-screen bg-cover bg-center flex flex-col justify-center items-center"
        style={`background-image: url(${videos.src})`}
    >
    <div class="container mx-auto">
        <div class="bg-black w-1/2 mx-auto" style="height: 400px;">
            a
        </div>
        <p class="text-white text-xl mt-4">
            Learn more about our practice through our videos.
        </p>
    </div>

    </section>
</Layout>