---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import videos from "../../public/videos.webp";
import PrimaryButton from "../components/PrimaryButton.astro";
import Carousel from "../components/Carousel.astro";
import type { CarouselItem } from "../types";

const videoItems: CarouselItem[] = [
    { type: 'video', embedUrl: 'https://www.youtube.com/embed/bHH_XIGUj2g?si=5e1WWYkSTCV1pNp5' },
    { type: 'video', embedUrl: 'https://www.youtube.com/embed/a0sROEArPZA?si=-HtIaROHvirXwgDu' },
    { type: 'video', embedUrl: 'https://www.youtube.com/embed/fEh1uWG7K7U?si=VBoLTdWxzxDlBYZT' },
    { type: 'video', embedUrl: 'https://www.youtube.com/embed/g-SSwuuA61I?si=cjOCNEoJmXltL1CX' },
    { type: 'video', embedUrl: 'https://www.youtube.com/embed/WpMUKz-L2Bc?si=Xfk7AhCepCOsjWGR' },
]
---
<Layout title="Sydney Chiropractor CBD Videos">
    <div class="relative w-full" style={`background-image: url('${videos.src}'); background-repeat: no-repeat; background-size: contain; background-position: top;`}>
        <!-- Content Container -->
        <div class="relative py-16 md:py-24" style="z-index: 2;">
            <div class="container mx-auto px-4 text-center">
                {/* video here */}   
                <div class="bg-black w-full md:w-2/3 mx-auto aspect-video">
                    <iframe class="w-full h-full" loading="lazy" src="https://www.youtube.com/embed/Sg9jNdPj6rI?si=wypASJqeyLxWMadO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>         
                <p class="text-text text-center mt-4">Is your phone affecting your posture?</p>
                <h1 class="text-3xl md:text-4xl font-bold text-center text-custom-dark mt-12" style="font-weight: 900;"> Helpful Sydney Chiropractor Videos</h1>
                <div class="flex flex-col items-center justify-center mt-8">
                    <PrimaryButton variant="secondary" class="mt-8 mx-auto w-auto">
                        <a href="/https://www.youtube.com/channel/UC9hBMtr0amB5mrKbEskzTNw" class="block px-8 py-3">
                            Visit Our YouTube Channel
                        </a>
                    </PrimaryButton>
                </div>
            </div>

            <div class="container mx-auto px-4 mt-16">
                <Carousel items={videoItems} />
            </div>
        </div>
        <div class="mt-12"></div>
    </div>
</Layout>