---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import videos from "../../public/videos.webp";
import PrimaryButton from "../components/PrimaryButton.astro";
import Carousel from "../components/Carousel.astro";
---
<Layout title="Sydney Chiropractor CBD Videos">
    <div class="relative min-h-screen w-full" style={`background-image: url('${videos.src}'); background-repeat: no-repeat; background-size: contain; background-position: top;`}>
        <!-- Content Container -->
        <div class="relative flex flex-col items-center justify-center min-h-screen py-16" style="z-index: 2;">
            {/* video here */}   
            <div class="bg-black w-1/2 mx-auto h-[500px]">
                <iframe class="w-full h-full" src="https://www.youtube.com/embed/Sg9jNdPj6rI?si=wypASJqeyLxWMadO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>         
            <p class="text-text text-center mt-4">Is your phone affecting your posture?</p>
            <h1 class="text-4xl font-bold text-center text-custom-dark mt-12" style="font-weight: 900;"> Helpful Sydney Chiropractor Videos</h1>
            <div class="flex flex-col items-center justify-center mt-8">
                <PrimaryButton variant="secondary" class="mt-8 mx-auto w-full">
                    <a href="/https://www.youtube.com/channel/UC9hBMtr0amB5mrKbEskzTNw">
                        Visit Our YouTube Channel
                    </a>
                </PrimaryButton>
            </div>
        </div>
        <Carousel itemCount={12}>
            <!-- 12 Black Squares for testing -->
            <div class="bg-black aspect-square mx-2 rounded-lg flex items-center justify-center">
                <span class="text-white font-bold text-xl">1</span>
            </div>
            <div class="bg-black aspect-square mx-2 rounded-lg flex items-center justify-center">
                <span class="text-white font-bold text-xl">2</span>
            </div>
            <div class="bg-black aspect-square mx-2 rounded-lg flex items-center justify-center">
                <span class="text-white font-bold text-xl">3</span>
            </div>
            <div class="bg-black aspect-square mx-2 rounded-lg flex items-center justify-center">
                <span class="text-white font-bold text-xl">4</span>
            </div>
            <div class="bg-black aspect-square mx-2 rounded-lg flex items-center justify-center">
                <span class="text-white font-bold text-xl">5</span>
            </div>
            <div class="bg-black aspect-square mx-2 rounded-lg flex items-center justify-center">
                <span class="text-white font-bold text-xl">6</span>
            </div>
            <div class="bg-black aspect-square mx-2 rounded-lg flex items-center justify-center">
                <span class="text-white font-bold text-xl">7</span>
            </div>
            <div class="bg-black aspect-square mx-2 rounded-lg flex items-center justify-center">
                <span class="text-white font-bold text-xl">8</span>
            </div>
            <div class="bg-black aspect-square mx-2 rounded-lg flex items-center justify-center">
                <span class="text-white font-bold text-xl">9</span>
            </div>
            <div class="bg-black aspect-square mx-2 rounded-lg flex items-center justify-center">
                <span class="text-white font-bold text-xl">10</span>
            </div>
            <div class="bg-black aspect-square mx-2 rounded-lg flex items-center justify-center">
                <span class="text-white font-bold text-xl">11</span>
            </div>
            <div class="bg-black aspect-square mx-2 rounded-lg flex items-center justify-center">
                <span class="text-white font-bold text-xl">12</span>
            </div>
        </Carousel>
        <div class="mt-12"></div>
    </div>
    

</Layout>