---
import Layout from "../layouts/Layout.astro";
import HeaderImage from "../components/HeaderImage.astro";
import contactBg from "../../public/Contact-us.webp";
import UnderlinedHeader from "../components/UnderlinedHeader.astro";
import Paragraphs from "../components/Paragraphs.astro";
import WorkshopGrid from "../components/WorkshopGrid.astro";
---
<Layout title="Sydney Chiropractor CBD">
    <HeaderImage backgroundImage={contactBg.src} headerText="SYDNEY CBD CHIROPRACTORS" buttonText="Book an Appointment" />
    <!-- Two Column Grid Layout -->
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-16">
        <UnderlinedHeader left={true}>ABOUT CLINIC 27 CHIROPRACTORS SYDNEY CBD</UnderlinedHeader>
        <div class="mt-10"></div>
        <Paragraphs paragraphs={
        ["Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
        ]} />
        <WorkshopGrid/>
    </div>
</Layout>