---
import { Image } from 'astro:assets';
import personAvatar from '../../../public/person.png';
---
<div class="book-an-appointment-container">
    <div class="book-an-appointment-header">
        <Image src={personAvatar} alt="person" />
        <h1>Book an Appointment</h1>    
    </div>
    <div class="button-container">
        <a href="tel:0280597743" target="_blank" class="existing-client">I AM AN EXISTING CLIENT</a>
        <a href="tel:0280597743" target="_blank" class="new-client">I AM A NEW CLIENT</a>
    </div>
</div>
<style>

    .book-an-appointment-container{
        padding: 1rem 0;
        text-align: center;
        margin: 2rem 0;
        width: 100%;
    }
    .book-an-appointment-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }
    .book-an-appointment-header img{
        width: 72px;
        height: 72px;
        object-fit: cover;
    }

    h1{
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 1rem;
        color: var(--purple);
        margin-top: 1rem;
    }
    .button-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 0.5rem;
    }
    a{
        background-color: white;
        color: var(--purple);
        padding: 0.5rem 1rem;
        border:1px solid var(--purple);
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: background-color 0.3s;
        text-decoration: none;
    }
    a:hover {
        background-color: var(--purple);
        color: white;
    }

    @media (max-width: 768px) {
        .book-an-appointment-header img{
            width: 20%;
            height: 20%;
        }
        .book-an-appointment-header h1{
            font-size: 1.2rem;
        }
        .button-container{
            width: 100%;
            justify-content: space-between;
        }

        a{
            font-size: 0.6rem;
            padding: 0.5rem;
        }
        
    }
    @media (max-width: 480px) {
        .button-container{
            width: 100%;
            justify-content: space-between;
        }
        a{
            font-size: 10px;
        }
    }
</style>