---
import { Image } from 'astro:assets';
import BookButton from './BookButton.astro';
import  clinicLogo from '../../assets/logo/clinic27.webp';

---
<header class="bg-white w-full">
  <div class="max-w-[60%] mx-auto px-4 py-4 md:max-w-full md:px-4 md:py-4">
      <div class="flex justify-between items-center w-full flex-col gap-4 md:flex-row md:gap-0 lg:flex-row lg:gap-0">
      <Image src={clinicLogo} alt="Clinic 27 Chiropractic Sydney CBD Logo" loading="eager" class="w-20 h-20 md:w-[80px] md:h-[80px] lg:w-[100px] lg:h-[100px]"/>
      <div class="flex-shrink-0">
        <BookButton text="Give Us a Call (02) 8059 7743" href="tel:0280597743" />
      </div>
    </div>
  </div>
</header>  

