---
import UnderlineHeader from './BookUnderlineHeader.astro';
import YoutubeVideoFacade from './YoutubeVideoFacade.astro';
import BookAnAppotiment from './BookAnAppotiment.astro';
import ahmLogo from '../../assets/logo/ahm.png';
import medibankLogo from '../../assets/logo/medibank.png.webp';
import asrLogo from '../../assets/logo/asr-logo.png';
import { Image } from 'astro:assets';

const images = [
    ahmLogo,
    medibankLogo,
    asrLogo,
]
---
<section class="flex flex-col items-center justify-center gap-8 w-full">
    <UnderlineHeader text="Chiropractic credentials and accreditations" />
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12 mb-8 w-3/5 ">
        {images.map((image, index) => {
            let altText = "Chiropractic Credentials";
            if (index === 0) altText = "AHM Health Insurance Provider Logo";
            if (index === 1) altText = "Medibank Health Insurance Provider Logo";
            if (index === 2) altText = "Australian Spinal Research Logo";
            
            
            return (
                <div class="w-full flex justify-center items-center">
                    <Image src={image} alt={altText} loading="eager" class="object-contain max-w-[300px] max-h-[60px] md:max-w-[500px] md:max-h-[80px]" />
                </div>
            );
        })}
    </div>
    <UnderlineHeader text="Better Results, Faster." />
    <div class="w-[30%] min-h-[300px] max-[480px]:w-4/5">
        <YoutubeVideoFacade videoId="https://www.youtube.com/embed/GrDl-8HyGBY?si=NKO2Pq6y17rmeCQD" fullWidth={true}/>
    </div>
    <div class="max-[480px]:w-3/5">
        <BookAnAppotiment />
    </div>
</section>