---
import UnderlineHeader from "./BookUnderlineHeader.astro";
import YoutubeVideoFacade from "./YoutubeVideoFacade.astro";
import BookButton from "./BookButton.astro";
import Team from "./Team.astro";
import Reviews from "./Reviews.astro";
import Ratings from "./Ratings.astro";
---
<section class="my-12 bg-white flex flex-col items-center justify-center gap-8 overflow-x-hidden">
    <UnderlineHeader text="A quick walkthrough" />
    <div class="w-2/5 max-[480px]:w-4/5">
        <YoutubeVideoFacade videoId="https://www.youtube.com/embed/KehQPtPov_0?si=EBVNfxIueP3SdwoL" fullWidth/>
    </div>
    <div class="max-w-[60%]">
        <!-- <BookAnAppotiment /> -->
    </div>
    <UnderlineHeader text="What out clients say"/>
    <span class="font-semibold text-xs text-gray-600 bg-transparent w-1/5 text-center max-[480px]:w-4/5">
        Join So Many of Our Satisfied Clients Find out why our clients keep coming back.
    </span>
    <Reviews />
    <Ratings blackText lazyLoad />
    <div class="max-w-[60%]">
        <BookButton text="Call us to book an appointment" href="tel:0280597743" centerText={true}/>
    </div>
    <Team />
    <UnderlineHeader text="How can you find us?" />
    <div class="w-[70%] h-[400px] bg-[url('/bookmap.png')] bg-cover bg-center bg-no-repeat relative flex flex-col items-start justify-center px-20 py-20 gap-8 max-[480px]:w-[90%] max-[480px]:text-center max-[480px]:flex max-[480px]:flex-col max-[480px]:items-center max-[480px]:justify-center">
        <h1 class="text-white text-3xl font-semibold z-10 max-[480px]:text-2xl">Need Help?</h1>
        <div class="max-[480px]:flex max-[480px]:justify-center max-[480px]:mx-auto max-[480px]:mt-8 max-[480px]:w-full">
            <BookButton text="contact us for more information" href="tel:0280597743"/>
        </div>
        <div class="absolute top-0 left-0 bg-black/50 h-full w-full"></div>
    </div>
</section>