---
import ParagraphWithHeader from './ParagraphWithHeader.astro';
import YoutubeVideoFacade from './YoutubeVideoFacade.astro';
import BookButton from './BookButton.astro';
import UnderlineHeader from './BookUnderlineHeader.astro';
---
<section class="bg-gradient-to-b from-purple via-purple/50 to-white text-white py-12 flex flex-col items-center max-[900px]:px-16 max-[900px]:pt-32 max-[900px]:bg-[url('/sales_pitch_bg.png')] max-[900px]:bg-cover max-[900px]:bg-center max-[900px]:bg-no-repeat">
    <h3 class="text-white mb-4 font-extrabold max-[900px]:text-2xl max-[900px]:text-center max-[900px]:mb-2">How We Can Help You</h3>
    <div class="flex flex-row gap-4 my-12 max-w-[60%] max-[900px]:flex-col max-[900px]:my-6 max-[900px]:max-w-full"> 
        <div class="flex flex-col gap-8 w-full">
            <ParagraphWithHeader text="Experience relief from back and spine pain, including issues like lower back degeneration in the lumbar region. Our treatment improves mobility, reduces discomfort, and supports greater physical activity. We treat even challenging cases and difficult adjustments." header="Back and spine pain"/>
            <ParagraphWithHeader text="Improved posture can lead to your better overall health, increased energy, and reduced strain on the body. Our treatments focus on correcting posture-related imbalances, helping you achieve proper alignment and prevent long-term complications." header="All posture related problems"/>
        </div>
        <YoutubeVideoFacade videoId="https://www.youtube.com/embed/n2hiC9-gGTI?si=VNkyQAZ1lG5Sz-Q6" fullWidth />
    </div>
    <div class="mb-8">
        <BookButton text="Get in touch with the experts" href="tel:0280597743" centerText={true}/>
    </div>
    <div class="grid grid-cols-2 grid-rows-[auto_auto_auto] gap-8 max-w-[60%] my-12 max-[900px]:grid-cols-1 max-[900px]:max-w-full max-[900px]:my-6">
        <ParagraphWithHeader header="Chronic Pain Relief" text="Chronic pain, whether it affects the feet, knees, legs, lower back, arms, or neck, can be effectively managed through targeted treatments. You can experience relief not only from old injuries and traumas but also from stress, aches, and tension caused by daily life." />
        <ParagraphWithHeader header="Achieving Overall Health Goals" text="Incorporating chiropractic care as part of a holistic approach can help you maintain balance, mobility, and overall health. Regular treatments support your body's natural ability to function optimally, ensuring ongoing wellness and helping achieve long-term health goals." />
        <ParagraphWithHeader header="Sports Injuries" text="Recover faster and return to your activities with improved strength and mobility. Our care focuses on addressing overuse injuries, improving joint function, and relieving pain to enhance performance and prevent future setbacks, keeping you on track toward your fitness and life goals." />
        <ParagraphWithHeader header="EndoNasal Cranial Correction" text="While ECC™ is a well-known effective method for helping bring the body back into proper alignment, it should only be applied by experienced chiropractors. Even your posture and the symmetry of your face and head can benefit from this treatment." />
        <ParagraphWithHeader header="Headaches and Vertigo" text="If you experience headaches and vertigo, you can reduce dizziness, pain, and discomfort with our chiropractic care. Our patients quickly notice an overall increase in their sense of well-being and body confidence, enjoying improved balance and comfort." />
        <div class="flex justify-end items-end max-[900px]:justify-center max-[900px]:col-span-1 max-[900px]:mt-4">
                <BookButton text="Call Us to Start Your Wellness Journey" href="tel:0280597743" centerText={true}/>
        </div>
    </div>
    <UnderlineHeader text="How we are different?" />
    <div class="grid grid-cols-2 gap-8 max-w-[60%] max-[900px]:grid-cols-1 max-[900px]:max-w-full">
        <div class="w-full h-full flex flex-col gap-8 max-[900px]:order-2">
            <ParagraphWithHeader blackText header="We Use a Unique, Groundbreaking Method" text="We're one of the pioneers of Advanced Biostructural Correction (ABC) ™in Australia. This technique helps by removing mechanical stress from your body's skeletal, muscular and tissue structures. We're also using advanced Core Score technology to measure the areas of concern." />
            <ParagraphWithHeader blackText header="All Our Plans Are Tailored to Your Needs" text="Each of our clients has a unique body, a unique set of symptoms and a unique set of needs. Once we've established an overall picture of the life you lead, we'll develop a personalised care plan that is responsive to your lifestyle and health care goals."/>
            <ParagraphWithHeader blackText header="The Clinic Owner is a Published Author" text="Dr. Hooman Zahedi is a published author whose book has earned a 5-star rating on Amazon. Known for his straightforward approach, he shares valuable insights into chiropractic care and health, reflecting his dedication to empowering patients with knowledge and effective solutions."/>
        </div>
        <div class="w-full h-full flex flex-col gap-8 max-[900px]:order-1">
            <YoutubeVideoFacade videoId="https://www.youtube.com/embed/XvYeHDnvfPw?si=vCmk0R19H5aEULgS" fullWidth />
            <div class="w-full flex justify-center items-center">
                <BookButton text="Call us to book an appointment" href="tel:0280597743" centerText={true} />
            </div>
        </div>
    </div>
</section>