---
import aboutUsBg from "../../public/about-us-bg.webp";
import aboutUsTeam from "../../public/new-team.png";
---

<section 
  class="w-full min-h-[400px] sm:min-h-[600px] md:min-h-[800px] bg-cover bg-center bg-no-repeat relative flex items-end justify-center pb-4 sm:pb-6 md:pb-8"
  style={`background-image: url(${aboutUsBg.src})`}
>
  <img 
    src={aboutUsTeam.src} 
    alt="About Us Team" 
    class="max-w-full h-auto min-h-[600px] min-w-[1200px] object-contain absolute bottom-0"
  />
</section> 