---
import aboutUsBg from "../../public/about-us-bg.webp";
import aboutUsTeam from "../../public/about-us-team.webp";
---

<section 
  class="w-full min-h-[800px] bg-cover bg-center bg-no-repeat relative flex items-end justify-center pb-8"
  style={`background-image: url(${aboutUsBg.src})`}
>
  <img 
    src={aboutUsTeam.src} 
    alt="About Us Team" 
    class="max-w-full object-contain absolute bottom-0"
  />
</section> 