---
// Header component with navigation
---

<header id="site-header-wrapper" class="oceanwp-theme"> {/* Using a wrapper to avoid ID collision if original JS is added later */}
  <div id="top-bar-wrap" class="clr">
    <div id="top-bar" class="clr has-no-content"> {/* Assuming no dynamic top-bar content for now, classes from original */}
      <div id="top-bar-inner" class="clr">
        <div id="top-bar-content" class="clr top-bar-centered">
          {/* Elementor top bar structure from index.html */}
          <div data-elementor-type="wp-post" data-elementor-id="2104" class="elementor elementor-2104" data-elementor-post-type="oceanwp_library">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-2bb8148 elementor-section-full_width custom-top-menu elementor-section-height-default elementor-section-height-default">
              <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e2348dd">
                  <div class="elementor-widget-wrap elementor-element-populated">
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-3afedfb elementor-section-full_width topSection1 elementor-hidden-phone elementor-section-height-default elementor-section-height-default">
                      <div class="elementor-container elementor-column-gap-no">
                        <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-5f7495c">
                          <div class="elementor-widget-wrap"></div>
                        </div>
                        <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-c7b2d99">
                          <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-4ebfe02 elementor-position-left elementor-view-default elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box">
                              <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">
                                  <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon"> <i aria-hidden="true" class="fas fa-map-marker-alt"></i> </span>
                                  </div>
                                  <div class="elementor-icon-box-content">
                                    <h3 class="elementor-icon-box-title"> <span> Clinic 27 (CBD) </span></h3>
                                    <p class="elementor-icon-box-description"> Ph : <a href="tel:0280597743">02 8059 7743</a></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-f6c08b1">
                          <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-869e779 elementor-widget elementor-widget-image">
                              <div class="elementor-widget-container">
                                <a href="/"> <img fetchpriority="high" width="238" height="238" src="/images/Blue-Logo-Clinic-27-min.png" class="attachment-full size-full wp-image-11" alt="Clinic 27 Logo" /> </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-ab3deaa">
                          <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-04d53e2 elementor-position-right elementor-view-default elementor-mobile-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box">
                              <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">
                                  <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon"> <i aria-hidden="true" class="fas fa-map-marker-alt"></i> </span>
                                  </div>
                                  <div class="elementor-icon-box-content">
                                    <h3 class="elementor-icon-box-title"> <span> Complete Chiropractic (Dee Why) </span></h3>
                                    <p class="elementor-icon-box-description"> Ph : <a href="tel:0299720040">02 9972 0040</a></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-82db7a2">
                          <div class="elementor-widget-wrap"></div>
                        </div>
                      </div>
                    </section>
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-a19ed88 elementor-section-full_width topSection2 elementor-section-height-default elementor-section-height-default">
                      <div class="elementor-container elementor-column-gap-no">
                        {/* Columns for spacing, middle column for mobile social icons if needed */}
                        <div class="elementor-column elementor-col-20 elementor-inner-column"></div>
                        <div class="elementor-column elementor-col-20 elementor-inner-column"></div>
                        <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-70ca2ae" id="iconstopbar">
                          <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-d249c96 elementor-hidden-desktop elementor-hidden-tablet elementor-shape-rounded elementor-grid-0 e-grid-align-center elementor-widget elementor-widget-social-icons">
                              <div class="elementor-widget-container">
                                <div class="elementor-social-icons-wrapper elementor-grid">
                                  <span class="elementor-grid-item">
                                    <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-381ff8b" href="https://www.facebook.com/clinictwentyseven/" target="_blank" aria-label="Facebook">
                                      <span class="elementor-screen-only">Facebook</span> <i class="fab fa-facebook"></i>
                                    </a>
                                  </span>
                                  <span class="elementor-grid-item">
                                    <a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-f52c9c3" href="https://www.youtube.com/channel/UC9hBMtr0amB5mrKbEskzTNw" target="_blank" aria-label="YouTube">
                                      <span class="elementor-screen-only">Youtube</span> <i class="fab fa-youtube"></i>
                                    </a>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="elementor-column elementor-col-20 elementor-inner-column"></div>
                        <div class="elementor-column elementor-col-20 elementor-inner-column"></div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>

  <header id="site-header" class="minimal-header left-menu effect-one clr" data-height="64" role="banner"> {/* Actual header from original site */}
    <div id="site-header-inner" class="clr container"> {/* Matched to your .container style for consistency */}
      <div id="site-logo" class="clr has-responsive-logo">
        <div id="site-logo-inner" class="clr">
          <a href="/" class="custom-logo-link" rel="home" aria-current="page">
            <img width="238" height="238" src="/images/Blue-Logo-Clinic-27-min.png" class="custom-logo" alt="Sydney Chiropractor CBD – Clinic 27" decoding="async" />
          </a>
          {/* Responsive logo can be handled with CSS or a single image */}
        </div>
      </div>
      <div id="site-navigation-wrap" class="clr">
        <nav id="site-navigation" class="navigation main-navigation clr" role="navigation">
          <ul id="menu-main-menu" class="main-menu dropdown-menu sf-menu"> {/* Using classes from original for styling hooks */}
            <li class="menu-item"><a href="/" class="menu-link"><span class="text-wrap">HOME</span></a></li>
            <li class="menu-item menu-item-has-children dropdown">
              <a class="menu-link"><span class="text-wrap">TREATMENTS<i class="nav-arrow fa fa-angle-down" aria-hidden="true" role="img"></i></span></a>
              <ul class="sub-menu">
                <li><a href="/back-pain-treatment-sydney-cbd/" class="menu-link"><span class="text-wrap">Back Pain Treatment</span></a></li>
                <li><a href="/carpal-tunnel-syndrome-treatment-sydney-cbd/" class="menu-link"><span class="text-wrap">Carpal Tunnel Syndrome Treatment & Diagnosis</span></a></li>
                <li><a href="/headaches-migraines-treatment-sydney-cbd/" class="menu-link"><span class="text-wrap">Headache & Migraine Treatment</span></a></li>
                <li><a href="/neck-pain-treatment-sydney-cbd/" class="menu-link"><span class="text-wrap">Neck Pain Treatment</span></a></li>
                <li><a href="/vertigo-treatment-sydney-cbd/" class="menu-link"><span class="text-wrap">Vertigo Treatment</span></a></li> {/* Simplified from original */}
                <li><a href="/endonasal-cranial-correction-treatment-sydney-cbd/" class="menu-link"><span class="text-wrap">EndoNasal Cranial Correction</span></a></li>
                <li><a href="/posture-treatment-sydney-cbd/" class="menu-link"><span class="text-wrap">Posture Treatment</span></a></li>
                <li><a href="/sciatica-treatment-sydney-cbd/" class="menu-link"><span class="text-wrap">Sciatica Treatment</span></a></li>
                <li><a href="/cranial-chiropractic/" class="menu-link"><span class="text-wrap">Cranial Chiropractic</span></a></li>
                <li><a href="/scoliosis-treatment-sydney-cbd/" class="menu-link"><span class="text-wrap">Scoliosis Treatment</span></a></li>
              </ul>
            </li>
            <li class="menu-item"><a href="/massage-sydney-cbd-best-massage-sydney/" class="menu-link"><span class="text-wrap">MASSAGE</span></a></li>
            <li class="menu-item"><a href="/workshops/" class="menu-link"><span class="text-wrap">WORKSHOPS</span></a></li>
            <li class="menu-item"><a href="/videos/" class="menu-link"><span class="text-wrap">VIDEOS</span></a></li>
            <li class="menu-item"><a href="/about-clinic27/" class="menu-link"><span class="text-wrap">ABOUT</span></a></li>
            <li class="menu-item"><a href="/blog-overview/" class="menu-link"><span class="text-wrap">BLOG</span></a></li>
            <li class="menu-item"><a href="/contact-us/" class="menu-link"><span class="text-wrap">CONTACT</span></a></li>
            {/* Search toggle can be added if needed, for now keeping it simple */}
          </ul>
        </nav>
      </div>
      <div class="oceanwp-mobile-menu-icon clr mobile-right">
        <a href="#mobile-menu-toggle" class="mobile-menu" aria-label="Mobile Menu">
          <i class="fa fa-bars" aria-hidden="true"></i> <span class="oceanwp-text">Menu</span>
        </a>
      </div>
    </div>
  </header>

  {/* <!-- Mobile Menu Structure (simplified) --> */}
  <div id="mobile-dropdown" class="clr">
    <nav class="clr">
      <ul id="menu-main-menu-mobile" class="menu">
          <li><a href="/">HOME</a></li>
          <li class="has-dropdown-mobile">
            <a>TREATMENTS <i class="fa fa-angle-down"></i></a>
            <ul class="sub-menu-mobile">
              <li><a href="/back-pain-treatment-sydney-cbd/">Back Pain Treatment</a></li>
              <li><a href="/carpal-tunnel-syndrome-treatment-sydney-cbd/">Carpal Tunnel Syndrome</a></li>
              <li><a href="/headaches-migraines-treatment-sydney-cbd/">Headache & Migraine</a></li>
              <li><a href="/neck-pain-treatment-sydney-cbd/">Neck Pain</a></li>
              <li><a href="/vertigo-treatment-sydney-cbd/">Vertigo Treatment</a></li>
              <li><a href="/endonasal-cranial-correction-treatment-sydney-cbd/">EndoNasal Cranial Correction</a></li>
              <li><a href="/posture-treatment-sydney-cbd/">Posture</a></li>
              <li><a href="/sciatica-treatment-sydney-cbd/">Sciatica</a></li>
              <li><a href="/cranial-chiropractic/">Cranial Chiropractic</a></li>
              <li><a href="/scoliosis-treatment-sydney-cbd/">Scoliosis</a></li>
            </ul>
          </li>
          <li><a href="/massage-sydney-cbd-best-massage-sydney/">MASSAGE</a></li>
          <li><a href="/workshops/">WORKSHOPS</a></li>
          <li><a href="/videos/">VIDEOS</a></li>
          <li><a href="/about-clinic27/">ABOUT</a></li>
          <li><a href="/blog-overview/">BLOG</a></li>
          <li><a href="/contact-us/">CONTACT</a></li>
      </ul>
    </nav>
  </div>

</header> {/* Closing the main wrapper */}

<script>
  // Basic mobile menu toggle
  const mobileMenuToggle = document.querySelector('.oceanwp-mobile-menu-icon a');
  const mobileDropdown = document.querySelector('#mobile-dropdown') as HTMLElement;
  let mobileMenuOpen = false;

  if (mobileMenuToggle && mobileDropdown) {
    mobileMenuToggle.addEventListener('click', (e) => {
      e.preventDefault();
      mobileMenuOpen = !mobileMenuOpen;
      if (mobileMenuOpen) {
        mobileDropdown.style.display = 'block';
      } else {
        mobileDropdown.style.display = 'none';
      }
    });

    // Basic dropdown toggle for mobile
    const mobileHasDropdowns = document.querySelectorAll('#mobile-dropdown .has-dropdown-mobile > a');
    mobileHasDropdowns.forEach(dropdownToggle => {
      dropdownToggle.addEventListener('click', (e) => {
        e.preventDefault();
        const subMenu = dropdownToggle.nextElementSibling as HTMLElement;
        if (subMenu && subMenu.classList.contains('sub-menu-mobile')) {
          subMenu.style.display = subMenu.style.display === 'block' ? 'none' : 'block';
        }
      });
    });
  }

  // Sticky header basic logic (can be enhanced)
  // const siteHeader = document.getElementById('site-header');
  // if (siteHeader) {
  //   window.addEventListener('scroll', () => {
  //     if (window.scrollY >= 250) { // Value from original script
  //       (siteHeader as HTMLElement).classList.add('sticky-menu-active'); // Use a custom class for styling
  //     } else {
  //       (siteHeader as HTMLElement).classList.remove('sticky-menu-active');
  //     }
  //   });
  // }
</script>

<style>
  /* Styles from existing Header.astro and new ones extracted/adapted from index.html */
  :root { /* Ensure these are defined in a global scope if not already, e.g. Layout.astro or global.css */
    --primary-color: #202CA2; /* From original index.astro */
    --secondary-color: #E62E78; /* From original index.astro */
    --text-color: #333;
    --oceanwp-primary-color: #1f2ba3; /* OceanWP Accent */
    --oceanwp-hover-color: #ed2279; /* OceanWP Hover */
  }

  .container { /* Re-using your container for consistency */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .clr { clear: both; } /* Utility from OceanWP */

  /* Top Bar Styles (from elementor-post-2104.css and custom OceanWP styles) */
  #top-bar-wrap {
    /* background-color: #fff; From original site, can be adjusted */
    /* border-bottom: 1px solid #f0f0f0; */
  }
  #top-bar-inner {
    /* min-height: 64px; /* From #site-logo-inner height */
    display: flex;
    align-items: center;
    justify-content: center; /* Centering the Elementor block */
  }
  #top-bar-content.top-bar-centered {
    text-align: center;
    width: 100%;
  }
  .custom-top-menu { /* elementor-element-2bb8148 */
    background-color: #FFFFFF;
  }
  .topSection1 { /* elementor-element-3afedfb */
    /* display: flex;
    align-items: center; */
  }
  .topSection1 .elementor-column {
    /* display: flex;
    align-items: center; */
  }

  /* Elementor Icon Box for top bar */
  .elementor-widget-icon-box .elementor-icon-box-wrapper { display: flex; align-items: center; }
  .elementor-widget-icon-box .elementor-icon-box-icon { margin-right: 10px; }
  .elementor-widget-icon-box .elementor-icon-box-icon .elementor-icon i { font-size: 20px; color: var(--primary-color); }
  .elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-title { font-size: 14px; font-weight: 500; margin: 0 0 3px 0; color: #333; }
  .elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-description { font-size: 13px; margin: 0; color: #555; }
  .elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-description a { color: #555; text-decoration: none; }
  .elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-description a:hover { color: var(--secondary-color); }
  
  .elementor-position-left { justify-content: flex-start; text-align: left; }
  .elementor-position-right { justify-content: flex-end; text-align: right; }
  .elementor-widget-image img { max-width: 100%; height: auto; }
  .topSection1 .elementor-element-869e779 img { /* Logo in top bar */
    max-width: 150px; /* Adjusted for better fit if original is 238px */
  }

  /* Social Icons in mobile top bar (topSection2) */
  .topSection2 .elementor-social-icons-wrapper.elementor-grid { display: flex; justify-content: center; }
  .topSection2 .elementor-social-icon {
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    text-decoration: none;
  }
  .topSection2 .elementor-social-icon:hover { background-color: var(--secondary-color); }


  /* Main Header Styles (from OceanWP CSS) */
  #site-header {
    /* border-bottom: 1px solid #f0f0f0; */ /* From OceanWP: #7c7c7c */
    background-color: white; /* Your existing style */
    padding: 15px 0; /* Your existing style */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* Your existing style */
  }
  #site-header-inner.container { /* Ensure this uses your container settings */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #site-logo #site-logo-inner a img {
    max-width: 120px; /* Original: 120px, your old style: 120px */
    height: auto;
  }
  
  /* Navigation Styles (from OceanWP) */
  #site-navigation-wrap { /* This wraps the nav */ }
  .main-navigation ul.main-menu {
    display: flex; /* Your existing style */
    list-style: none;
    gap: 20px; /* Your existing style */
    margin: 0; padding: 0;
  }
  .main-navigation ul.main-menu li { position: relative; }
  .main-navigation ul.main-menu li a.menu-link {
    color: var(--primary-color); /* Your existing: --primary-color, OceanWP: #ed2279 then changed to #1f2ba3 */
    font-weight: 500; /* OceanWP: 500 */
    font-size: 16px; /* OceanWP: 16px */
    padding: 5px 0; /* Your existing */
    text-decoration: none;
    display: block; /* OceanWP */
    line-height: 64px; /* From original data-height of header */
  }
   .main-navigation ul.main-menu li a.menu-link .text-wrap { position: relative; }

  .main-navigation ul.main-menu > li > a.menu-link:hover,
  .main-navigation ul.main-menu > li.current-menu-item > a.menu-link,
  .main-navigation ul.main-menu > li.current-menu-ancestor > a.menu-link {
    color: var(--secondary-color); /* Your existing: --secondary-color, OceanWP: --oceanwp-primary-color (#1f2ba3) */
  }
  
  /* Effect One from OceanWP for menu links */
  .effect-one #site-navigation-wrap .dropdown-menu > li > a.menu-link > span.text-wrap:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color); /* OceanWP uses its primary #1f2ba3 */
    left: 0;
    bottom: -3px; /* Adjust as needed */
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  .effect-one #site-navigation-wrap .dropdown-menu > li > a.menu-link:hover > span.text-wrap:after,
  .effect-one #site-navigation-wrap .dropdown-menu > li.current-menu-item > a.menu-link > span.text-wrap:after {
    transform: scaleX(1);
  }

  /* Dropdown Menu Styles (adapted from OceanWP and your existing) */
  .menu-item-has-children { position: relative; }
  .menu-item-has-children > a.menu-link .nav-arrow {
    margin-left: 5px;
    font-size: 0.8em;
  }
  ul.sub-menu { /* Was .dropdown in your old style */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 277px; /* OceanWP */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    z-index: 1000; /* Ensure it's above other content */
    list-style: none;
    padding: 10px 0; /* Your existing */
    border-top: 2px solid var(--secondary-color); /* OceanWP: #1f2ba3, using your secondary */
  }
  .menu-item-has-children:hover > ul.sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  ul.sub-menu li { padding: 0; }
  ul.sub-menu li a.menu-link {
    display: block;
    padding: 8px 15px; /* Your existing */
    font-size: 14px; /* OceanWP: 14px */
    color: var(--text-color); /* OceanWP: #ed2279 */
    line-height: normal; /* Override parent line-height */
    font-weight: 500; /* OceanWP */
    text-transform: capitalize; /* OceanWP */
  }
  ul.sub-menu li a.menu-link:hover {
    color: var(--secondary-color); /* OceanWP: #1f2ba3 */
    background-color: #f5f5f5;
  }

  /* Mobile Menu Styles */
  .oceanwp-mobile-menu-icon { display: none; } /* Hide by default */
  #mobile-dropdown { display: none; background-color: #fff; padding:10px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); }
  #mobile-dropdown ul.menu { list-style: none; padding: 0; margin: 0; }
  #mobile-dropdown ul.menu li a { text-decoration: none; display: block; padding: 10px; color: var(--primary-color); border-bottom: 1px solid #f0f0f0; }
  #mobile-dropdown ul.menu li a:hover { color: var(--secondary-color); }
  #mobile-dropdown ul.sub-menu-mobile { list-style:none; padding-left: 20px; display:none; background-color: #f9f9f9;}
  #mobile-dropdown ul.sub-menu-mobile li a { border-bottom: none; padding: 8px 10px; font-size: 0.9em;}
  #mobile-dropdown .has-dropdown-mobile > a { display:flex; justify-content: space-between; align-items:center;}


  /* Sticky Menu Active State (basic, for JS interaction) */
  #site-header.sticky-menu-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    animation: slideDown 0.3s ease-out;
  }
  @keyframes slideDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
  }
  
  /* Responsive Breakpoints (example, match to original site's logic ~959px for OceanWP) */
  @media (max-width: 959px) {
    #site-navigation-wrap { display: none; } /* Hide desktop nav */
    .oceanwp-mobile-menu-icon { display: block; font-size: 24px; cursor: pointer; color: var(--primary-color); }
    .oceanwp-mobile-menu-icon a { color: var(--primary-color); text-decoration: none; display: flex; align-items: center; }
    .oceanwp-mobile-menu-icon a:hover { color: var(--secondary-color); }
    .oceanwp-mobile-menu-icon .oceanwp-text { margin-left: 5px; font-size: 16px; }

    /* Adjust top bar for mobile if needed - original hides some parts */
    .elementor-hidden-phone { display: none !important; } /* From Elementor */
    .elementor-hidden-tablet { /* For elements hidden on tablet and up, but shown on phone if not also .elementor-hidden-phone */ }

    #top-bar-wrap .elementor-element-3afedfb { /* .topSection1 */
      display: none; /* Hide the desktop top bar content */
    }
    #top-bar-wrap .elementor-element-a19ed88 { /* .topSection2 - for mobile social icons */
      display: block !important; /* Ensure it's visible */
    }
     #top-bar-wrap #iconstopbar .elementor-widget-wrap {
      justify-content: center; /* Center social icons on mobile */
    }

    #site-header-inner {
      /* flex-wrap: wrap; /* Allow logo and toggle to stack if needed */
    }
     #site-logo { /* Ensure logo is not overly large on mobile */
      flex-grow: 1; /* Allow logo to take space */
    }
    #site-logo #site-logo-inner a img {
      max-width: 100px; /* Smaller logo for mobile */
    }
  }

  @media (max-width: 767px) { /* Additional mobile fine-tuning if needed */
    /* Example: .elementor-hidden-mobile { display: none !important; } */
    .elementor-widget-icon-box .elementor-icon-box-wrapper { flex-direction: column; text-align: center; }
    .elementor-widget-icon-box .elementor-icon-box-icon { margin-right: 0; margin-bottom: 5px; }
    .elementor-position-left, .elementor-position-right { justify-content: center; text-align: center; }
  }

  /* Elementor Utility classes that might be needed globally if not already handled */
  .elementor-section-full_width > .elementor-container { width: 100%; max-width: 100%; }
  .elementor-column-gap-no > .elementor-column > .elementor-element-populated { padding: 0; }
  .elementor-section-height-default { /* Default behavior */ }
  .elementor-widget-wrap { display: flex; flex-wrap: wrap; }
  .elementor-element-populated { padding: 10px; } /* Default Elementor padding, adjust as needed */
  .elementor-col-100 { width: 100%; }
  .elementor-col-20 { width: 20%; } /* For 5-column layouts */
  .elementor-col-33 { width: 33.333%; } /* For 3-column layouts */
  .elementor-col-50 { width: 50%; }
  /* ... other col percentages if used ... */
  .elementor-inner-section > .elementor-container { display: flex; flex-wrap: wrap; }

  .elementor-hidden-desktop { display: none; }
  @media (min-width: 1025px) { /* Desktop */
    .elementor-hidden-desktop { display: block; } /* Or flex, grid, etc. depending on original display type */
    .elementor-hidden-tablet, .elementor-hidden-phone { /* Ensure these are hidden */ }
  }
  @media (max-width: 1024px) and (min-width: 768px) { /* Tablet */
    .elementor-hidden-tablet { display: none !important; }
  }
  @media (max-width: 767px) { /* Phone */
    .elementor-hidden-phone { display: none !important; }
    .elementor-hidden-desktop { display: block !important; } /* Show elements meant for desktop but not explicitly hidden on mobile */
  }

</style> 