---
import "../global.css";
import { Image } from "astro:assets";
import logo from "../../public/logo-header.webp";
---
<header class="border-b border-black py-2 w-full hidden md:block" >
	<div class="mx-auto flex justify-between items-center container px-4">
		<div class="flex items-center gap-4 flex-1">
            <div class="flex flex-col" >
                <h1 class="text-xl font-bold">Clinic 27 (CBD) </h1>
                <p class="text-sm "><b>Ph</b> : 02 8059 7743</p>
            </div>
        </div>
		<div class="flex-shrink-0 mx-8">
			<Image src={logo} alt="Logo" loading="eager" class="w-auto h-32"/>
		</div>
        <div class="flex flex-row-reverse items-center gap-4 flex-1">
            <div class="flex flex-col" >
                <h1 class="text-xl font-bold">Complete Chiropractic (Dee Why) </h1>
                <p class="text-sm text-right"><b>Ph</b> : 02 9972 0040</p>
            </div>
        </div>
	</div>
</header>
