---
import "../global.css";
import { Search } from "lucide-static";

const currentPath = Astro.url.pathname;
---

<style>
  .nav-link {
    position: relative;
    text-decoration: none;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #1F2BA3;
    transition: width 0.3s ease;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
</style>

<nav class="flex justify-between items-center mx-auto py-8" style="width:85%">
    <div class="flex items-center gap-x-6">
        <a class={`nav-link text-lg font-bold ${currentPath === '/' ? 'text-custom-purple' : 'text-custom-pink'} hover:text-custom-purple transition-colors duration-300`} href="/">HOME</a>
        <a class={`nav-link text-lg font-bold ${currentPath === '/treatments' ? 'text-custom-purple' : 'text-custom-pink'} hover:text-custom-purple transition-colors duration-300`} href="/treatments">TREATMENTS</a>
        <a class={`nav-link text-lg font-bold ${currentPath === '/massage' ? 'text-custom-purple' : 'text-custom-pink'} hover:text-custom-purple transition-colors duration-300`} href="/massage">MASSAGE</a>
        <a class={`nav-link text-lg font-bold ${currentPath === '/workshops' ? 'text-custom-purple' : 'text-custom-pink'} hover:text-custom-purple transition-colors duration-300`} href="/workshops">WORKSHOPS</a>
        <a class={`nav-link text-lg font-bold ${currentPath === '/videos' ? 'text-custom-purple' : 'text-custom-pink'} hover:text-custom-purple transition-colors duration-300`} href="/videos">VIDEOS</a>
        <a class={`nav-link text-lg font-bold ${currentPath === '/about' ? 'text-custom-purple' : 'text-custom-pink'} hover:text-custom-purple transition-colors duration-300`} href="/about">ABOUT</a>
        <a class={`nav-link text-lg font-bold ${currentPath === '/blog-overview' ? 'text-custom-purple' : 'text-custom-pink'} hover:text-custom-purple transition-colors duration-300`} href="/blog-overview">BLOG</a>
        <a class={`nav-link text-lg font-bold ${currentPath === '/contact' ? 'text-custom-purple' : 'text-custom-pink'} hover:text-custom-purple transition-colors duration-300`} href="/contact">CONTACT</a>
    </div>
    <div class="flex items-center gap-4">
        <Search />
    </div>
</nav>