---
import "../global.css";
import { Search } from "lucide-static";
---

<nav class="flex justify-between items-center mx-auto py-4" style="width:85%">
    <div class="flex items-center gap-4">
        <a class="text-lg font-bold" href="/">Home</a>
        <a class="text-lg font-bold" href="/treatments">Treatments</a>
        <a class="text-lg font-bold" href="/massage">Massage</a>
        <a class="text-lg font-bold" href="/workshops">Workshops</a>
        <a class="text-lg font-bold" href="/videos">Videos</a>
        <a class="text-lg font-bold" href="/about">About</a>
        <a class="text-lg font-bold" href="/blog">Blog</a>
        <a class="text-lg font-bold" href="/contact">Contact</a>
    </div>
    <div class="flex items-center gap-4">
        <Search />
    </div>
</nav>