---
const { variant = "primary", type = "button" } = Astro.props;
---
<button type={type} class={`px-6 py-3 hover:cursor-pointer ${variant === "primary" ? "bg-custom-pink text-white hover:bg-white hover:text-custom-pink hover:border-custom-pink border border-custom-pink" : "bg-custom-purple text-white hover:bg-white hover:text-custom-purple"} text-md font-semibold`}>
    <slot />
</button>