---
const { variant = "primary" } = Astro.props;
---
<button class={`px-6 py-3 ${variant === "primary" ? "bg-custom-pink text-white" : "bg-custom-purple text-white"} text-md font-semibold`}>
    <slot />
</button>