---
import { getCollection, type CollectionEntry } from 'astro:content';
import WorkshopCard from "./workshop/WorkshopCard.astro";

// Get workshop posts from content collection
const allWorkshops = await getCollection('workshops');

// Sort workshops by date (newest first)
const workshops = allWorkshops.sort((a: CollectionEntry<'workshops'>, b: CollectionEntry<'workshops'>) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());

// Format date function
const formatDate = (date: Date) => {
  return new Intl.DateTimeFormat('en-AU', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
  }).format(date);
};
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-10">
    {workshops.map(workshop => (
        <WorkshopCard 
            imageUrl={workshop.data.heroImage}
            title={formatDate(workshop.data.pubDate)}
            timeFrom={`${workshop.data.startTime} Book Now`}
            slug={workshop.slug}
        />
    ))}
</div> 