.elementor-1997 .elementor-element.elementor-element-2991e75:not(.elementor-motion-effects-element-type-background), .elementor-1997 .elementor-element.elementor-element-2991e75 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2021/04/footerbackground-1.jpg");background-position:center center;background-repeat:no-repeat;background-size:cover;}
.elementor-1997 .elementor-element.elementor-element-2991e75 > .elementor-background-overlay{background-color:#000000;opacity:0.7;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-1997 .elementor-element.elementor-element-2991e75{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}
.elementor-1997 .elementor-element.elementor-element-b511b9e{margin-top:-6.5%;margin-bottom:0%;}
.elementor-1997 .elementor-element.elementor-element-db15979:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-1997 .elementor-element.elementor-element-db15979 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#E62E78;}
.elementor-1997 .elementor-element.elementor-element-db15979 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:7% 7% 7% 7%;}
.elementor-1997 .elementor-element.elementor-element-db15979 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}
.elementor-1997 .elementor-element.elementor-element-f0f4b7d .elementor-heading-title{font-family:"Poppins", Sans-serif;font-size:18px;font-weight:600;color:#FFFFFF;}
.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after{border-color:var( --e-global-color-text );}
.elementor-widget-icon-list .elementor-icon-list-icon i{color:var( --e-global-color-primary );}
.elementor-widget-icon-list .elementor-icon-list-icon svg{fill:var( --e-global-color-primary );}
.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}
.elementor-widget-icon-list .elementor-icon-list-text{color:var( --e-global-color-secondary );}
.elementor-1997 .elementor-element.elementor-element-2989c4e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(5px/2);}
.elementor-1997 .elementor-element.elementor-element-2989c4e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(5px/2);}
.elementor-1997 .elementor-element.elementor-element-2989c4e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(5px/2);margin-left:calc(5px/2);}
.elementor-1997 .elementor-element.elementor-element-2989c4e .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-5px/2);margin-left:calc(-5px/2);}
body.rtl .elementor-1997 .elementor-element.elementor-element-2989c4e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-5px/2);}
body:not(.rtl) .elementor-1997 .elementor-element.elementor-element-2989c4e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-5px/2);}
.elementor-1997 .elementor-element.elementor-element-2989c4e .elementor-icon-list-icon i{color:#FFFFFF;transition:color 0.3s;}
.elementor-1997 .elementor-element.elementor-element-2989c4e .elementor-icon-list-icon svg{fill:#FFFFFF;transition:fill 0.3s;}
.elementor-1997 .elementor-element.elementor-element-2989c4e{--e-icon-list-icon-size:17px;--icon-vertical-offset:0px;}
.elementor-1997 .elementor-element.elementor-element-2989c4e .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1997 .elementor-element.elementor-element-2989c4e .elementor-icon-list-item > a{font-family:"Poppins", Sans-serif;font-size:15px;font-weight:400;line-height:1.5em;}
.elementor-1997 .elementor-element.elementor-element-2989c4e .elementor-icon-list-text{color:#FFFFFF;transition:color 0.3s;}
.elementor-1997 .elementor-element.elementor-element-4152c21:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-1997 .elementor-element.elementor-element-4152c21 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#1F2BA3;}
.elementor-1997 .elementor-element.elementor-element-4152c21 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:7% 7% 7% 7%;}
.elementor-1997 .elementor-element.elementor-element-4152c21 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-1997 .elementor-element.elementor-element-27cb53e .elementor-heading-title{font-family:"Poppins", Sans-serif;font-size:18px;font-weight:600;color:#FFFFFF;}
.elementor-1997 .elementor-element.elementor-element-bae3b1b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(5px/2);}
.elementor-1997 .elementor-element.elementor-element-bae3b1b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(5px/2);}
.elementor-1997 .elementor-element.elementor-element-bae3b1b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(5px/2);margin-left:calc(5px/2);}
.elementor-1997 .elementor-element.elementor-element-bae3b1b .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-5px/2);margin-left:calc(-5px/2);}
body.rtl .elementor-1997 .elementor-element.elementor-element-bae3b1b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-5px/2);}
body:not(.rtl) .elementor-1997 .elementor-element.elementor-element-bae3b1b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-5px/2);}
.elementor-1997 .elementor-element.elementor-element-bae3b1b .elementor-icon-list-icon i{color:#FFFFFF;transition:color 0.3s;}
.elementor-1997 .elementor-element.elementor-element-bae3b1b .elementor-icon-list-icon svg{fill:#FFFFFF;transition:fill 0.3s;}
.elementor-1997 .elementor-element.elementor-element-bae3b1b{--e-icon-list-icon-size:17px;--icon-vertical-offset:0px;}
.elementor-1997 .elementor-element.elementor-element-bae3b1b .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1997 .elementor-element.elementor-element-bae3b1b .elementor-icon-list-item > a{font-family:"Poppins", Sans-serif;font-size:15px;font-weight:400;line-height:1.5em;}
.elementor-1997 .elementor-element.elementor-element-bae3b1b .elementor-icon-list-text{color:#FFFFFF;transition:color 0.3s;}
.elementor-1997 .elementor-element.elementor-element-b8e4685{padding:4% 0% 2% 0%;}
.elementor-1997 .elementor-element.elementor-element-fc077c6 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}
.elementor-1997 .elementor-element.elementor-element-c3410dc > .elementor-widget-container{margin:0px 0px 0px 0px;padding:18px 0px 18px 0px;}
.elementor-1997 .elementor-element.elementor-element-c3410dc{text-align:left;}
.elementor-1997 .elementor-element.elementor-element-c3410dc .elementor-heading-title{font-family:"Poppins", Sans-serif;font-size:18px;font-weight:500;color:#FFFFFF;}
.elementor-1997 .elementor-element.elementor-element-3e0ec40 > .elementor-widget-container{padding:10px 0px 10px 0px;border-style:solid;border-width:0px 0px 1px 0px;border-color:#FFFFFF;border-radius:0px 0px 0px 0px;}
.elementor-1997 .elementor-element.elementor-element-3e0ec40 .elementor-heading-title{font-family:"Poppins", Sans-serif;font-size:15px;font-weight:400;color:#FFFFFF;}
.elementor-1997 .elementor-element.elementor-element-1ac9d3c > .elementor-widget-container{padding:10px 0px 10px 0px;border-style:solid;border-width:0px 0px 1px 0px;border-color:#FFFFFF;border-radius:0px 0px 0px 0px;}
.elementor-1997 .elementor-element.elementor-element-1ac9d3c .elementor-heading-title{font-family:"Poppins", Sans-serif;font-size:15px;font-weight:400;color:#FFFFFF;}
.elementor-1997 .elementor-element.elementor-element-91b3db6 > .elementor-widget-container{padding:10px 0px 10px 0px;border-style:solid;border-width:0px 0px 1px 0px;border-color:#FFFFFF;border-radius:0px 0px 0px 0px;}
.elementor-1997 .elementor-element.elementor-element-91b3db6 .elementor-heading-title{font-family:"Poppins", Sans-serif;font-size:15px;font-weight:400;color:#FFFFFF;}
.elementor-1997 .elementor-element.elementor-element-0728c31 > .elementor-widget-container{padding:10px 0px 10px 0px;border-style:solid;border-width:0px 0px 1px 0px;border-color:#FFFFFF;border-radius:0px 0px 0px 0px;}
.elementor-1997 .elementor-element.elementor-element-0728c31 .elementor-heading-title{font-family:"Poppins", Sans-serif;font-size:15px;font-weight:400;color:#FFFFFF;}
.elementor-1997 .elementor-element.elementor-element-8ec0143 > .elementor-widget-container{padding:10px 0px 10px 0px;border-style:solid;border-width:0px 0px 1px 0px;border-color:#FFFFFF;border-radius:0px 0px 0px 0px;}
.elementor-1997 .elementor-element.elementor-element-8ec0143 .elementor-heading-title{font-family:"Poppins", Sans-serif;font-size:15px;font-weight:400;color:#FFFFFF;}
.elementor-1997 .elementor-element.elementor-element-5d1227a > .elementor-widget-container{padding:10px 0px 10px 0px;border-style:solid;border-width:0px 0px 1px 0px;border-color:#FFFFFF;border-radius:0px 0px 0px 0px;}
.elementor-1997 .elementor-element.elementor-element-5d1227a .elementor-heading-title{font-family:"Poppins", Sans-serif;font-size:15px;font-weight:400;color:#FFFFFF;}
.elementor-1997 .elementor-element.elementor-element-1f7e1b9 > .elementor-widget-container{padding:10px 0px 10px 0px;border-style:solid;border-width:0px 0px 1px 0px;border-color:#FFFFFF;border-radius:0px 0px 0px 0px;}
.elementor-1997 .elementor-element.elementor-element-1f7e1b9 .elementor-heading-title{font-family:"Poppins", Sans-serif;font-size:15px;font-weight:400;color:#FFFFFF;}
.elementor-1997 .elementor-element.elementor-element-985e609 > .elementor-widget-container{padding:13px 0px 0px 0px;}
.elementor-1997 .elementor-element.elementor-element-2cbdcae > .elementor-widget-container{padding:13px 0px 0px 0px;}
.elementor-1997 .elementor-element.elementor-element-0ee7594 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:18px 0px 18px 0px;}
.elementor-1997 .elementor-element.elementor-element-0ee7594{text-align:left;}
.elementor-1997 .elementor-element.elementor-element-0ee7594 .elementor-heading-title{font-family:"Poppins", Sans-serif;font-size:19px;font-weight:500;color:#FFFFFF;}
.elementor-widget-image-box .elementor-image-box-title{color:var( --e-global-color-primary );font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}
.elementor-widget-image-box .elementor-image-box-description{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}
.elementor-1997 .elementor-element.elementor-element-f42f0ab.elementor-position-right .elementor-image-box-img{margin-left:8px;}
.elementor-1997 .elementor-element.elementor-element-f42f0ab.elementor-position-left .elementor-image-box-img{margin-right:8px;}
.elementor-1997 .elementor-element.elementor-element-f42f0ab.elementor-position-top .elementor-image-box-img{margin-bottom:8px;}
.elementor-1997 .elementor-element.elementor-element-f42f0ab .elementor-image-box-title{margin-bottom:6px;color:#FFFFFF;font-family:"Poppins", Sans-serif;font-size:15px;font-weight:400;}
.elementor-1997 .elementor-element.elementor-element-f42f0ab .elementor-image-box-wrapper .elementor-image-box-img{width:75%;}
.elementor-1997 .elementor-element.elementor-element-f42f0ab .elementor-image-box-img img{transition-duration:0.3s;}
.elementor-1997 .elementor-element.elementor-element-f42f0ab .elementor-image-box-description{color:#B5B3B3;font-family:"Poppins", Sans-serif;font-size:14px;font-weight:500;}
.elementor-1997 .elementor-element.elementor-element-e9b2201.elementor-position-right .elementor-image-box-img{margin-left:8px;}
.elementor-1997 .elementor-element.elementor-element-e9b2201.elementor-position-left .elementor-image-box-img{margin-right:8px;}
.elementor-1997 .elementor-element.elementor-element-e9b2201.elementor-position-top .elementor-image-box-img{margin-bottom:8px;}
.elementor-1997 .elementor-element.elementor-element-e9b2201 .elementor-image-box-title{margin-bottom:6px;color:#FFFFFF;font-family:"Poppins", Sans-serif;font-size:15px;font-weight:400;}
.elementor-1997 .elementor-element.elementor-element-e9b2201 .elementor-image-box-wrapper .elementor-image-box-img{width:75%;}
.elementor-1997 .elementor-element.elementor-element-e9b2201 .elementor-image-box-img img{transition-duration:0.3s;}
.elementor-1997 .elementor-element.elementor-element-e9b2201 .elementor-image-box-description{color:#B5B3B3;font-family:"Poppins", Sans-serif;font-size:14px;font-weight:500;}
.elementor-widget-divider{--divider-color:var( --e-global-color-secondary );}
.elementor-widget-divider .elementor-divider__text{color:var( --e-global-color-secondary );font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}
.elementor-widget-divider.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-secondary );}
.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon{color:var( --e-global-color-secondary );border-color:var( --e-global-color-secondary );}
.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-secondary );}
.elementor-1997 .elementor-element.elementor-element-cdcc8e7{--divider-border-style:solid;--divider-color:#808080;--divider-border-width:1px;}
.elementor-1997 .elementor-element.elementor-element-cdcc8e7 .elementor-divider-separator{width:80%;margin:0 auto;margin-center:0;}
.elementor-1997 .elementor-element.elementor-element-cdcc8e7 .elementor-divider{text-align:center;padding-block-start:15px;padding-block-end:15px;}
.elementor-widget-text-editor{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );color:var( --e-global-color-text );}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:var( --e-global-color-primary );}
.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}
.elementor-1997 .elementor-element.elementor-element-bdc2227{font-family:"Poppins", Sans-serif;font-size:15px;font-weight:500;color:#FFFFFF;}
.elementor-1997 .elementor-element.elementor-element-1192235 .elementor-repeater-item-6e75343.elementor-social-icon{background-color:#00000000;}
.elementor-1997 .elementor-element.elementor-element-1192235 .elementor-repeater-item-6e75343.elementor-social-icon i{color:#FFFFFF;}
.elementor-1997 .elementor-element.elementor-element-1192235 .elementor-repeater-item-6e75343.elementor-social-icon svg{fill:#FFFFFF;}
.elementor-1997 .elementor-element.elementor-element-1192235 .elementor-repeater-item-e4c5342.elementor-social-icon{background-color:#00000000;}
.elementor-1997 .elementor-element.elementor-element-1192235 .elementor-repeater-item-e4c5342.elementor-social-icon i{color:#FFFFFF;}
.elementor-1997 .elementor-element.elementor-element-1192235 .elementor-repeater-item-e4c5342.elementor-social-icon svg{fill:#FFFFFF;}
.elementor-1997 .elementor-element.elementor-element-1192235 .elementor-repeater-item-305eb2a.elementor-social-icon{background-color:#00000000;}
.elementor-1997 .elementor-element.elementor-element-1192235 .elementor-repeater-item-305eb2a.elementor-social-icon i{color:#FFFFFF;}
.elementor-1997 .elementor-element.elementor-element-1192235 .elementor-repeater-item-305eb2a.elementor-social-icon svg{fill:#FFFFFF;}
.elementor-1997 .elementor-element.elementor-element-1192235{--grid-template-columns:repeat(0, auto);--icon-size:17px;--grid-column-gap:5px;--grid-row-gap:0px;}
.elementor-1997 .elementor-element.elementor-element-1192235 .elementor-widget-container{text-align:center;}
.elementor-1997 .elementor-element.elementor-element-1192235 > .elementor-widget-container{margin:0% 0% 0% 0%;padding:0px 0px 0px 0px;}
.elementor-1997 .elementor-element.elementor-element-1192235 .elementor-social-icon{background-color:#E62E78;}
.elementor-1997 .elementor-element.elementor-element-1192235 .elementor-social-icon i{color:#E62E78;}
.elementor-1997 .elementor-element.elementor-element-1192235 .elementor-social-icon svg{fill:#E62E78;}
.elementor-1997 .elementor-element.elementor-element-85bd06e{text-align:right;font-family:"Poppins", Sans-serif;font-size:15px;font-weight:500;color:#FFFFFF;}
@media(max-width:1024px){.elementor-1997 .elementor-element.elementor-element-b511b9e{margin-top:-12%;margin-bottom:0%;}
.elementor-1997 .elementor-element.elementor-element-fc077c6 > .elementor-element-populated{padding:0% 0% 0% 8%;}
.elementor-1997 .elementor-element.elementor-element-61637eb > .elementor-element-populated{padding:10% 0% 0% 3%;}
.elementor-1997 .elementor-element.elementor-element-2cbdcae > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.elementor-1997 .elementor-element.elementor-element-a95e415 > .elementor-element-populated{padding:4% 0% 0% 19%;}
}
@media(max-width:767px){.elementor-1997 .elementor-element.elementor-element-b511b9e{margin-top:0%;margin-bottom:0%;}
.elementor-1997 .elementor-element.elementor-element-b8e4685{padding:0px 20px 0px 20px;}
.elementor-1997 .elementor-element.elementor-element-fc077c6 > .elementor-element-populated{padding:0px 0px 0px 0px;}
.elementor-1997 .elementor-element.elementor-element-ede5d45 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:10% 0% 0% 0%;}
.elementor-1997 .elementor-element.elementor-element-985e609 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.elementor-1997 .elementor-element.elementor-element-61637eb > .elementor-element-populated{padding:5% 0% 0% 0%;}
.elementor-1997 .elementor-element.elementor-element-2cbdcae > .elementor-widget-container{padding:0px 0px 0px 0px;}
.elementor-1997 .elementor-element.elementor-element-a95e415 > .elementor-element-populated{padding:0px 0px 0px 0px;}
.elementor-1997 .elementor-element.elementor-element-0ee7594{text-align:center;}
.elementor-1997 .elementor-element.elementor-element-f42f0ab .elementor-image-box-img{margin-bottom:8px;}
.elementor-1997 .elementor-element.elementor-element-e9b2201 .elementor-image-box-img{margin-bottom:8px;}
.elementor-1997 .elementor-element.elementor-element-7035b91{padding:0px 0px 0px 0px;}
.elementor-1997 .elementor-element.elementor-element-8b6b271 > .elementor-element-populated{padding:0px 0px 0px 0px;}
.elementor-1997 .elementor-element.elementor-element-bdc2227{text-align:center;}
.elementor-1997 .elementor-element.elementor-element-f4f3f8c > .elementor-element-populated{padding:0px 0px 0px 0px;}
.elementor-1997 .elementor-element.elementor-element-3a3c638 > .elementor-element-populated{padding:0px 0px 0px 0px;}
.elementor-1997 .elementor-element.elementor-element-85bd06e{text-align:center;}
}
@media(min-width:768px){.elementor-1997 .elementor-element.elementor-element-52f013d{width:10%;}
.elementor-1997 .elementor-element.elementor-element-db15979{width:40%;}
.elementor-1997 .elementor-element.elementor-element-4152c21{width:39.998%;}
.elementor-1997 .elementor-element.elementor-element-3f7583b{width:10%;}
.elementor-1997 .elementor-element.elementor-element-fc077c6{width:21%;}
.elementor-1997 .elementor-element.elementor-element-8daa275{width:5%;}
.elementor-1997 .elementor-element.elementor-element-ede5d45{width:19.982%;}
.elementor-1997 .elementor-element.elementor-element-61637eb{width:26.149%;}
.elementor-1997 .elementor-element.elementor-element-a95e415{width:27.805%;}
}
@media(max-width:1024px) and (min-width:768px){.elementor-1997 .elementor-element.elementor-element-fc077c6{width:30%;}
.elementor-1997 .elementor-element.elementor-element-8daa275{width:5%;}
.elementor-1997 .elementor-element.elementor-element-ede5d45{width:30%;}
.elementor-1997 .elementor-element.elementor-element-61637eb{width:30%;}
.elementor-1997 .elementor-element.elementor-element-a95e415{width:50%;}
.elementor-1997 .elementor-element.elementor-element-8b6b271{width:40%;}
.elementor-1997 .elementor-element.elementor-element-f4f3f8c{width:20%;}
.elementor-1997 .elementor-element.elementor-element-3a3c638{width:40%;}
}
/* Start custom CSS for wp-widget-nav_menu, class: .elementor-element-985e609 */.fmenu h5{color:white;
padding-left: 16px;
font-size: 19px;
font-weight: 500;
font-family: poppins;
    }

    
.fmenu ul{list-style:none;
    color:white;
}
  

.fmenu ul li a{
    color:white;
    font-size: 15px;
font-weight: 400;
font-family: poppins;
line-height: 30px;
}
  

.fmenu ul li a:hover{color:#E62E78;}
/* End custom CSS */
/* Start custom CSS for wp-widget-nav_menu, class: .elementor-element-2cbdcae */.fmenu h5{color:white;
padding-left: 16px;
font-size: 19px;
font-weight: 500;
font-family: poppins;
    }

    
.fmenu ul{list-style:none;
    color:white;
}
  

.fmenu ul li a{
    color:white;
    font-size: 15px;
font-weight: 400;
font-family: poppins;
line-height: 30px;
}
  

.fmenu ul li a:hover{color:#E62E78;}
/* End custom CSS */